<h1>Documentation Not Found</h1>

<p>Could not find documentation for <kbd><%=h @class_name %></kbd>.</p>

<p>
Perhaps try checking the documentation for
<a href="http://yardoc.org/docs/ruby-core/">ruby-core</a>
or <a href="http://yardoc.org/docs/ruby-stdlib/">ruby-stdlib</a>:
</p>

<ul>
  <li>
    <a href="http://yardoc.org/docs/ruby-core/<%=h @url_path %><%=h @url_fragment %>">
      yardoc.org/docs/ruby-core/<%=h @url_path %>
    </a>
  </li>

  <li>
    <a href="http://yardoc.org/docs/ruby-stdlib/<%=h @url_path %><%=h @url_fragment %>">
      yardoc.org/docs/ruby-stdlib/<%=h @url_path %>
    </a>
  </li>
</ul>
